@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("www.mydealz.de") /* *[[pepper]]* */ /*[[pepper]]*/
{
/*
 * MyDealz EnStyler 2 - neues MyDealz Layout 2016
 * Author      : Gnadelwartz
 * Version     : 3.09.171
*/  
.threadWidget-footer:after {content:
  'EnStyler 3.09.171 - (c) Gnadelwartz userstyles,org/styles/128262';
  					color: #aaa; display: block; text-align: center;}
/*
 * Version 2 - unterstuetzt MyDealz und internationales Pepper Layout 2016
 * fuer Leute die kein UserScipt moechten oder wie ich ein Android Tablet nutzen ...

 * Die meisten Optionen lassen sich vor dem Download konfigurieren.
 * support fuer altes Layout entfernt


 * Getestet mit:
     - Firefox 46 + Stylish (on Linux + Windows)
     - Firefox Mobile 46 (on Android Tablet + Phone)
     - Chrome/Vivaldi on Windows and Android

 * Anpassungen:
    - dynamische Breite bis 1900px
    - kompakteres Design
    - Newsletter abgeschaltet
    - WhatsApp abgeschaltet
    - Top Info / Cookies  abgeschaltet
    - gruene Box um Avatar
    - Shops in rechter Spalte abgeschaltet
    - Werbung in Suche abgeschaltet
    - MD Logo auswählbar, Flamme
    - Beste Kommentare ausgeschaltet
    - Deal Vorschau kleiner
    - FLAT Layout in Abstufungen auswaehlbar (weniger rund)
    - Farbverlauf Dealmeter ändert sich mit FLAT Layout
    - fade in/out Partner TopBar oder komplett abschaltbar
    - Zoom in 2x/4x hottest Dealz
    - fallback für browser ohne calc support
    - breite Dealz Seite angepasst
    - Enstyler Homepage styled
    - Footer kompakter
    - Hintergrundfarbe auswählbar
    - Deal Image zoom variabel
    - improved emoji support: changing emoji is now a one liner ...
    - Images sind jetzt direkt bei MyDealz abgelegt
    - appBanner auf mobile device ausblenden
    - runder als Original MyDelaz extrem! *fixed*
    - Deal Button wieder orange
    - Gnadelwartz like Buttons
    - Farbverlauf Dealmeter für MyDealz extrem! angepasst
    - Viber Smileys + gnadelwartz
    - everywhere Buttons!
    - Support für altes Design entfernt
    - Deal zoom bei klick
    - Anzeige für schmale Bildschirme optimiert
    - add CSS for EnstylerJS
    - floating edit Toolbar
    - Sticky Nav aus
    - CSS for Ensytler2 added
    - vote-progress Höhe konfigurierbar
    - Original Emojis gehen mit belibiger Original URL *fixed*
    - mydealz status label wieder blau (gnadelwartz)
    - wählbare Profilfarbe für dropdown
    - remove social buttons
    - remove Avatar badges
    - support for UK site

* EnstylerJS für alles was nicht per CSS geht
    - https://greasyfork.org/de/scripts/24243

* aktvierbare internationale Seiten:
              - preisjaeger.at
              - nl.pepper.com
              - pepper.pl
              - pepper.co.krk
              - pelando.com.br
              - promodescuentos.com
              - buenosdeals.com


* gnadelwartzdontlikethis:
    - hottest counter ausgeblendet, nervt
    - Beschriftung "Sorierung" ausgeblendt, unnötig


*/ 


/* ====================== CSS STARTS HERE ========
  
    /* use more with on big screens */
    /* allow content full width up to 1900px - default 1500px */
      /* .page2-center,.thread-list--type-list--sideAds { max-width: *[[maxwidth]]* !important; } */
       .page2-center, .thread-list--type-list--sideAds, .thread-list--type-list { max-width:  /*[[maxwidth]]*/ !important; }
       .thread-list--type-card {width: 100% !important; }
      /* adjust deal padding for small display, i.e. mobile */
       .thread-list--type-list, .tGrid.page2-center, .space--r-3  {padding-left: 5px; padding-right: 5px;}
    
    /* Start Remove annoying content */
      /* remove messages and cookies info */ /* *[[messages]]* */ /*[[messages]]*/
        .nav-banner, .softMessages-list, .appBanner { display: none;}     
        .thread--type-list.aGrid.overflow--hidden {display: none;}
        .messages-item--type-event{display: none;}
    
      /* remove WhatsApp Box and Youtube, newsletter, shops */ /* [[newsbox]] */ /*[[newsbox]]*/
        .bg-img--type-whatsapp, .cept-banner, .cept-widget-event-reminder {display: none;}
        .vwo-newsletterWidget, .cept-top-merchant {display: none;}
        .thread-cardWrapper .cept-top-merchant, .thread-cardWrapper .vwo-newsletterWidget,
        .thread-cardWrapper .messages-item--type-event { display: block; -webkit-filter: grayscale(70%); filter: grayscale(70%); opacity: 0.3; }
        .thread-cardWrapper .bg-img--type-whatsapp { display: block; -webkit-filter: grayscale(70%); filter: grayscale(70%); opacity: 0.05;}
  
      /* remove idealo ad in search result and shrink alarm popup*/ /* [[searchad]] */ /*[[searchad]]*/
        .idealo-cept {display: none;}
        .thread--type-list.space--mt-2.bg--blue {height: 6em;}
    
      /* remove social media buttons */ /* [[social]] */ /*[[social]]*/
        .btn--circle, #footer-apps + li {display: none;}
  
       /* remove avatar badges */ /* [[badge]] */ /*[[badge]]*/
         .avatar-topBadge {display: none;}
  
    /* END annoiyng content */

    /* Start make new design more compact */
      /* Compact Header and Footer */ /* *[[compact]]* */ /*[[compact]]*/
         h1.cept-nav-subheadline { font-size: 1.1em; }
        .nav-subheadline-content    { height: 2em; padding: 0; padding-left: 1em;}
        .subNav {height: 4em; }
        .zIndex--fixed {z-index: 60;}
        .subNavMenu-hide--menu.space--r-2, .subNavMenu-label {display: none;}
  
        #footer .flag ~ .space--l-2 {display: none;}
        #footer li:nth-of-type(5) {display: none;}
        #footer .space--v-2 { padding-bottom: .5em;  padding-top: .1em; }
       .mc-notification{ height: 10em; top: auto; bottom: 30%; right: 10%;}
  
      /* compact Dealz list, images*/ /* *[[compact]]* */ /*[[compact]]*/
       .thread--type-list .userHtml img {display: none;} 
       .thread--type-list .userHtml br + br { display: none;}
       .thread--type-list .userHtml br + br:before {content: " ";}
       .userHtml img { display: inline-block; margin: 0.5em; max-width: calc(/*[[maxwidth]]*/ / /*[[floatimg]]*/);}
  
      /* make avataer similar size and smaller */ /* *[[compact]]* */ /*[[compact]]*/
       .avatar--type-m  {width: 37px; height: 37px;}
       .avatar--tpe-xl  {width: 80px; height: 80px;}
       .avatar--type-xxl {width: 100px; height: 100px;}
       img[src="/assets/img/profile-placeholder_cebb3.png"] {opacity: 0.6;}

      /* compact hottest */ /* *[[compact]]* */ /*[[compact]]*/
       .threadWidget-item--image--wrap {display: none;}
       .threadWidget--card--item { padding: 5px; padding-top: 0; max-height: 6.5em;}
       .widget .widget-div:nth-child(6), .widget .widget-div:nth-child(7) {display: none;}
  
      /* Überschriften minimal kleiner */ /* *[[compact]]* */ /*[[compact]]*/
        .thread-title { font-size: 18px !important;}
        .carousel .thread-title, .widget-div .thread-title { font-size: 13px !important;}

      /* remove best comments section */ /* *[[compact]]* */ /*[[compact]]*/
        #comments > .boxSec {display: none;}
        #comments .space--v-3.boxSec-div { padding-bottom: 3px; padding-top: 3px;}

      /* adjust colors for votebar - use calc() to provide different gradients*/ /* *[[compact]]* */ /*[[compact]]*/
        .vote-temp--warm, .vote-temp--new { color: #ffb612 !important; }
        .vote-temp--hot { color: #e00034 !important; }
        .vote-temp--burn { color: #e00034 !important; }
        .vote-temp--cold { color: #00a9e0 !important;}
        .vote-temp--colder, .vote-temp--frozen {color: #5bc6e8 !important; }
    
        .vote--warm .vote-progress, .voteBar--warm {
                    background-image: linear-gradient(90deg, #ff7900 /*[[flat]]*//*[[flat]]*/./*[[flat]]*/%,#ffb612);}
        .vote--hot .vote-progress,  .voteBar--hot  { 
         			background-image: linear-gradient(90deg,#e00034,#ff7900 /*[[flat]]*//*[[flat]]*/./*[[flat]]*/%,#ff7900);}
        .vote--burn .vote-progress, .voteBar--burn { 
         			background-image: linear-gradient(90deg,#d00000,#ff0034 /*[[flat]]*//*[[flat]]*/./*[[flat]]*/%,#ff0034);}  
        .vote--cold .vote-progress, .voteBar--cold,
        .vote--colder .vote-progress, .voteBar--colder {
         			background-image: linear-gradient(90deg,#00a9e0,#5bc6e8 /*[[flat]]*//*[[flat]]*/./*[[flat]]*/%,#5bc6e8);}
    
        .vote--inactive .vote-progress, .voteBar--inactive { 
         			background-image: linear-gradient(90deg,#bbb,#e6e6e6 /*[[flat]]*//*[[flat]]*/./*[[flat]]*/%,#e6e6e6);}
        .voteBar--new {
         			background-image: linear-gradient(90deg,#ffb612,#fdc82f /*[[flat]]*//*[[flat]]*/./*[[flat]]*/%,#fdc82f);}
  
      /* compact votebar */ /* *[[compact]]* */ /*[[compact]]*/
        .voteBar {background-color: transparent; background-size: auto /*[[vote]]*/; background-repeat: no-repeat; padding-top: /*[[vote]]*/; height: 4em;}
        .vote-bar::before, .vote-progress { height: /*[[vote]]*/; }  
        .vote-down, .vote-up {border: 1px solid #d1d5db !important; padding: 0; padding-left: 1em; padding-right: 1em;}
  
        .voteBar:not(.voteBar--sticky-on) .vote-down--voted { background-color: #5bc6e8;}
        .voteBar:not(.voteBar--sticky-on) .vote-up--voted   { background-color: #ff7900;}
        .voteBar.voteBar--sticky-on{ z-index: 50;}
  
        .thread-side { margin-top: -3.5em; }
        .thread--discussion .thread-side { margin-top: 0; }
        
      /* compact EDIT for deal and comments, also floating toolbar! */ /* *[[compact]]* */ /*[[compact]]*/ 
        .js-sticky.forceLayer.vue-hideInit {min-width: 30em; left: auto !important;}
        .width--fromW4-6 {width: 100%}  
        .toolbar {display: block; position: fixed; left: 2%; bottom: 2%; max-width: 80% !important; background-color: #fff; z-index: 999;}

     /* fade in / out partner topbar */
     /* .partnerBar { display: none; } /* ausblenden */ /* *[[partner]]*  */ /*[[compact]]*/ /*[[partner]]*/
       .partnerBar { display: block; position: fixed;   top: -10px;  height: 20px; width: 100%;  padding-bottom: 10px; left: -50105px; min-width: 100500px; 
                               background-color: transparent; color: transparent; z-index: 130; transition: all .05s ease-in; }
       .partnerBar:hover { top: 0px; height: 27px; left: 0px; min-width: 700px;  transition: all .2s ease-out 0.2s; ;
                               background-color: #003e6f;  color: white; opacity: 0.85;}

  	   .partnerBar-item { background-color: #003060;  border-radius: 25px; opacity: 0.8; } 
       .partnerBar-item:hover {opacity: 1;}
    
       .partnerBar.hide--upTo-medium { display: inline !important;} 

    /*END compact */
  
    /* ZOOM IN hottest Dealz - zoom to left on hoover */ 
       .boxSec .carousel, #hottestDealsCard .carousel {display: block; width: 16.75em; z-index: 40; transition-delay: 0.1; }
       .boxSec .carousel:hover, #hottestDealsCard .carousel:hover { border-color: #d5d5d5;
                         margin-left: 16.75em; margin-left: calc(-/*[[hotdeal]]*/ * 16.75em + 16.75em);
                         width: 33.5em; width: calc(/*[[hotdeal]]*/ * 16.75em);  transition-delay: 0.5s;}
    /*END hottest */
  
    /* Deal Image zoom - zoom deal image on hover*/ /* *[[dealzoom]]*  */ 
        .thread-cardImgFrame, .thread-listImgCell .imgFrame, .boxsec .imgFrame { display: block; border-radius: calc(2 * /*[[flat]]*/px); transition: all .05s linear;
                                        background-color: /*[[dark]]*/; opacity: 0.95 ;border: 1px solid; border-color: #d5d5d5;}
        .thread-cardImgFrame/*[[dealzoom]]*/ .thread-listImgCell .imgFrame/*[[dealzoom]]*/ .thread-side .imgFrame/*[[dealzoom]]*/ .boxsec .imgFrame/*[[dealzoom]]*/
  									/* :focus/:hover {left: -55px; top: 62px; transform: scale(2); }  */
  									/* :focus/:hover {left: -25px; top: 32px; transform: scale(1.5) }  */
      /* END deal Image */

    /* I like buttons!  ============= */

       /* menu round and button like */ /* *[[button]]* */  
        .btn {min-width: 3.07em; }
        .navMenu-ico {display: none;}
        .navMenu-trigger {height: 50px;}
        .nav-link-text { border-radius: calc(2 * /*[[flat]]*/px); padding: 0.71em; line-height: 1.28571; transition: all .2s linear; }
        .js-navDropDown-messages, .js-navDropDown-activities { border-radius: calc(2 * /*[[flat]]*/px); padding: 0.4em 0.75em 0.1em 0.75em;
          														margin-right: 0.3em; margin-left: -0.3em; transition: all .2s linear;  }
        .nav-link-text:hover, .js-navDropDown-messages:hover, .js-navDropDown-activities:hover {background-color: #176eb4}
 
        .nav-link.space--h-2 { padding: 0; }
        .subNavMenu--morph .subNavMenu-link {padding-left: 0; padding-right: 0;}
  
        .input--search:hover, .avatar--type-nav:hover { box-shadow: 0 0 0 2px #00a9e0; transition: all .2s linear; }
        .input--search:focus { box-shadow: 0 0 0 4px #00a9e0; }
  
        .box--all-i.space--r-3 {padding: 1em 0em}
        .subNavMenu-link > .box--all-i,.box--all-i.space--r-3 > a, .box--all-i.subNavMenu-link
  									{border-radius: calc(2 * /*[[flat]]*/px);	padding: 0.71em; line-height: 0.8em; transition: all .2s linear; }

        .ico--type-list-subNavActive, .ico--type-grid-subNavActive, .ico--type-rows-subNavActive,
        .ico--type-grid-subNavText, .ico--type-list-subNavText, .ico--type-rows-subNavText
                                    {border-radius: calc(2 * /*[[flat]]*/px); padding: 0.25em 0.55em 0.05em 0.55em; transition: all .2s linear; }
        .ico--type-list-subNavText, .ico--type-list-subNavActive  {padding-left: 0.5em; padding-right: 0.5em;}
  
        .subNavMenu-link > .box--all-i:hover, .subNavMenu-btn:hover, .box--all-i.subNavMenu-link:hover,
        .ico--type-list-subNavActive:hover, .ico--type-grid-subNavActive:hover, .ico--type-rows-subNavActive:hover,
        .ico--type-grid-subNavText:hover, .ico--type-list-subNavText:hover, .ico--type-rows-subNavText:hover,
    	.checkbox--box:hover, .btn--circle:hover { background-color: #f0f0f0 !important;}
    /* END button */
  
    /* Start profile dropdown colors */
        /* Dealz button orange */ /* [[colors]] */  /* *[[compact]]* */ /*[[compact]]*/
        .btn--mode-special { background-color: /*[[colors]]*/ !important;}
        .btn--mode-special:hover { background-color: #4dc3df !important;}
  
        /* Dropdown colors */  /* *[[compact]]* */ /*[[compact]]*/
        .navDropDown-head-text { opacity: 0.5; }
        .navDropDown-head, .btn--mode-navDropDownPrimary { background-color: /*[[colors]]*/ !important;}
        .text--color-navDropDownPrimary, .navDropDown-link--selected { color: /*[[colors]]*/ !important;}
        .navDropDown-tabContent .ico, .navDropDown .ico { -webkit-filter: grayscale(50%); filter: grayscale(50%);}
  
        .navDropDown-footer { border-top: 1px solid /*[[colors]]*/ !important;}
        .avatar--type-nav--selected { box-shadow: 0 0 0 2px /*[[colors]]*/ !important;}
  
        .popover--border-navDropDownPrimary .popover-content { border: 1px solid /*[[colors]]*/ !important;}
        .popover--arrow-navDropDownPrimary .popover-arrow::after,
        .popover--border-navDropDownPrimary .popover-arrow::before { border-bottom: 14px solid /*[[colors]]*/ !important;}

    /* END profile olors */
  
    /* Start Old Style look */
      /* MD Logo konfigurierbar, altes Kroko wieder da :-)))) */ /* *[[logo]]* */ /*[[logo]]*/
        .logo { width: 185px;  height: 55px; margin-top: -10px; margin-left: -20px;
           background: url(/*[[mdlogo]]*/) no-repeat;}
  
      /* green dotted box around avatar and orange deal button */ /* *[[flame]]* */ /*[[flame]]*/
        .avatar--type-nav { border: 1px; border-style: dotted; border-color: greenyellow; }  

      /* alte und neue Flamme/Eiskristall kombiniert */ /* *[[flame]]* */ /*[[flame]]*/
        .ico--type-flame-red { padding-left: 7px; padding-top: 14px; 
           background: url(http://static.mydealz.de/live/comments/content/zJW1l/9815597.jpg) no-repeat;}
        .vote--list.vote--burn .vote-infoActionWrap{ padding-left: 0.3em;}
        .vote--list.vote--burn .vote-info {padding-right:  1px;}
        .vote--card.vote--burn .vote-infoActionWrap { padding-top: 3px; margin-bottom: 7px; } 
  
        .voteBar .ico--type-snowflake-blueTint { padding-left: 6px; padding-top: 0px; 
           background: url(http://static.mydealz.de/live/comments/content/zfCz8/9815597.jpg) no-repeat;} /* blue background for snowflake */
    /* END Old style look */    

  /* =============== MAGIC! display different icon sets ============= */
  /* NEW!: copy icon sets to configuration, code here is for test / edit */
  
    /* here usertyle.org will insert Icons before download*/
    /* emoji { *[[oldsmiley]]* } */
    .emoji { /*[[oldsmiley]]*/ }
 
      /* MAGIC: everythig from to here should be commented out! */
  
    /* MD 2015 2 one image for all smileys */ /*
    .emoji {background-image: url(https://static.mydealz.de/live/comments/full_screen/o67YP/9815597.jpg); background-size: 2.6em 53.55em; width: 42px; height: 24px;}
    /* END MD 2 */ /*

    /* pepper 2 one image for all smileys */ /*
    .emoji {background-image: url(http://static.mydealz.de/live/comments/full_screen/GpwZL/9815597.jpg); background-size: 2.8em 51em;} /* <-important!  
    /* END pepper 2 */
  
    /* viber + gnadelwarz smileys */ /*
    .emoji {background-image: url(https://static.mydealz.de/live/comments/full_screen/nwwKg/9815597.jpg); background-size: 2em 52.58em; width: 33px; height: 25px;}
    /* END Viber */

    /* MAGIC: everythig up to here should be commented out! */
  /* =============== END display different icon sets ============= */

  /* new FLATer Style - use calc() to provide different round corners */
      /* special calc needed: Avatar, silly calculation but works */ /* [[compact]] */ /*[[compact]]*/
        .avatar { border-radius: 5%; border-radius: calc(5 * /*[[flat]]*/px);}
        /* .space--mv-2 { margin-top: calc(2 * /*[[flat]]*/px); border: calc(2 * /*[[flat]]*/px); }
 
      /* some minor position adjustments because of round style */ /* [[compact]] */ /*[[compact]]*/
        .avatar-caret { top: 1.05em; left: -0.55em; }
 		.iGrid--gutter-s { padding: 0 2em !important; }
        .toolbar {margin-top: 1em !important; border-top: 1px solid #d1d5db; border-radius: calc(2 * /*[[flat]]*/px) !important;}
        .subNavMenu-link-badge { margin-left: -0.7em;}
        .subNavMenu-trigger { width: 10em; margin-top: 4px; margin-right: 1.2em; height: 4em; border-radius: calc(2 * /*[[flat]]*/px) calc(2 * /*[[flat]]*/px) 0 0; }
    
      /* min round: input, Carousel, left meter */ /* [[compact]] */ /*[[compact]]*/
        .input, .thread--type-list, .widget, .threadWidget--card, .text--backgroundPill, .vote-flag,
        .btn, .countdownBanner--btn, .mascotcard-button, .mascotcard-button--white, .subNavMenu-btn,
        .boxSec, .thread--type-card, .thread--typelist, .thread-clearance, .thread-update,
        .vote-up--voted, .vote-down--voted,  .voucher-code, .checkbox--box { border-radius: 2px; border-radius: calc(2 * /*[[flat]]*/px) !important;}
  
      /* little round: Image, rigth meter, popover */ /* [[compact]] */ /*[[compact]]*/
        .userHtml img, .imgFrame, .imgFrame--round, .vote-editor, .tGrid-cell.bg--main,
        .bRad--a, .threadWidget--card, .subNavMenu-link-badge, .bubbleWrap--s { border-radius: 3px; border-radius: calc(2 * /*[[flat]]*/px)}

        .vote--list .vote-bar > .vote-progress, .vote--card .vote-progress { border-top-right-radius: 3px; border-bottom-right-radius: 3px;
                                                  border-top-right-radius: calc(2 * /*[[flat]]*/px); border-bottom-right-radius: calc(2 * /*[[flat]]*/px);}

       /* small round: popover */ /* [[compact]] */ /*[[compact]]*/
         .popover--menu .popover-content  { border-radius: 3px; border-radius: /*[[flat]]*/px}
    
      /* combined round / corner */ /* [[compact]] */ /*[[compact]]*/
        .vote--list .vote-bar > .vote-progress { border-top-left-radius: 2px;; border-bottom-left-radius: 2px;
                                                 border-top-left-radius: calc(2 * /*[[flat]]*/px); border-bottom-left-radius: calc(2 * /*[[flat]]*/px); }
        .vote-down, .voucher-btn { border-radius: 0; border-top-left-radius: 2px;; border-bottom-left-radius: 2px;
                                                     border-top-left-radius: calc(2 * /*[[flat]]*/px); border-bottom-left-radius: calc(2 * /*[[flat]]*/px);}
        .vote-up, .voucher-code  { border-top-right-radius: 2px; border-bottom-right-radius: 2px;
                                   border-top-right-radius: calc(2 * /*[[flat]]*/px); border-bottom-right-radius: calc(2 * /*[[flat]]*/px);}
  
        .tabbedInterface-tab--horizontal:last-child {  border-top-right-radius: 3px; border-top-right-radius: calc(2 * /*[[flat]]*/px);}
        .tabbedInterface-tab--horizontal:first-child { border-top-left-radius: 3px;  border-top-left-radius:calc(2 * /*[[flat]]*/px);}

        .thread-footer, .popover--subNavMenu .popover-content { border-bottom-left-radius: 2px;  border-bottom-right-radius: 2px;
                                   border-bottom-left-radius: calc(2 * /*[[flat]]*/px);  border-bottom-right-radius: calc(2 * /*[[flat]]*/px);}
  
      /* fix corners overwritten from above */ /* [[compact]] */ /*[[compact]]*/
        .bRad--fromW3-r-r, .bRad--r-r { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;}
        .bRad--fromW3-l-r, .bRad--l-r { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;}
        .bRad--t-r { margin-top: 1.5em;} 
    
      /* don't fix, gnadelwartz don't like mixing borders */ /*
        .bRad--t-r { border-top-left-radius: 0 !important;  border-top-right-radius: 0 !important; }
        .bRad--b-r { border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important;} */
        
   /* END FLAT */

   /* START background Theme */ /* [[compact]] */ /*[[compact]]*/
        .bg--off { background-color: #e0e0e0; }
        .bg--main, .thread--type-card, .thread--type-list, .widget,.subNav, .subNav--light,
          .threadWidget, .threadWidget--card, .input, .inputBox, .toolbar, .voucher-code, .voucher-teaser,
          .voteBar.voteBar--sticky-on, .subNavMenu-btn, .popover--default .popover-content, .popover--menu .popover-content,
          .navMenu-trigger--active, .navMenu-trigger--active:focus, .navMenu-trigger--active:hover, .autoSuggest-suggestionsBox,
          .text--overlay, .merchantProfile-footer, .bg--em, .vote-down, .vote-up { background-color: /*[[dark]]*/} /* dark*/
    
      /* other colors */ /* [[compact]] */ /*[[compact]]*/
       .text--overlay::before {   background-image: linear-gradient(90deg,hsla(0,0%,100%,0),/*[[dark]]*/); } /*dark*/
       .nav { color: /*[[dark]]*/; } /*dark*/

      /* fix theme*/ /* [[compact]] */ /*[[compact]]*/
       .bg--blue { background-color: #00a9e0 !important;}
       .vote-down--voted { background-color: #1f7ecb;}
       .vote-up--voted {  background-color: #ff7900;}
   /* END theme*/
  
   /* Sticky Navigation aus */ /* [[sticky]] */ /*[[compact]]*/ /*[[sticky]]*/
     .voteBar--sticky-on, .js-sticky-pagi--on { display: none !important;}
  
   /* gnadelwartzdonlikethis meine persoenliche will ich nicht liste */ /* *[[gnadel]]* */ /*[[gnadel]]*/
        .js-vue-container-hot-threadcount, .js-vue-container-recent_commented-threadcount {display: none;}
         nav.space--v-2.space--mt-2 {display: none;}
        .cept-newbie-msg {display: none;}
        .text--backgroundPill { background-color: #00a9e0;}
        .text--backgroundPill-blue { background-color: #075ea4; }
   /* END gnadel */
  
  /* ========== feste Einstellungen im CSS ========== */
    /* ->>> place /* in front to deactivate! */
    /* adjust EnstylerJS deal action in card view */
    .thread-cardWrapper .link.ico.ico--pos-l {margin-top: 8px; margin-left: -10px;} /* */
    /* remove ADS from preisjaeger */
   .ad--rectH,.ad--rectW { display: none !important;} /*  */
    /* profile einstellungen */
    .tabbedInterface.height--all-full {height: auto !important;} /**/
    .tabbedInterface .bg--main{height: 60em;}/* */

}

/* ======= GM_config CSS for pepper sites and Enstyler Homepage ============================= */ 
@-moz-document domain("www.mydealz.de") /* *[[pepper]]* */ /*[[pepper]]*/,
               url(https://userstyles.org/styles/128262/), url-prefix(https://userstyles.org/styles/128262/)
{
    /* EnstylerJS */
        #enPageEnum, #enPageEnumDown { width: 5em; height: 2.8em; margin-top: 0.25em; margin-right: 0.2em; text-align: right !important;}
        .voteBar-title { min-width: 70%; }
        .subNavMenu-link{ color: #63686d;}
        .enClassHidden { display: none;}
        .thread-cardWrapper .enClassHidden { display: block; -webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: 0.2; pointer-events: none;}
        .enClassMarkArticle{ border-top: 3px solid #00a9e0;}
        .thread--expired .ico--type-comment-blue, .thread--expired .ico--type-bookmark-blue, .thread--expired .ico--type-mail-blue,
        .thread--expired .ico--type-pencil-blue, .thread--expired .ico--type-code-blue { -webkit-filter: grayscale(100%); filter: grayscale(100%);}
  
    /* GM_config settings panel */
        /* Header and section header */
        .GM_config { border: none !important; box-shadow: 1px 6px 9px -1px rgba(0, 0, 0, 0.3); left: 8% !important; height: auto !important;
                       min-width: 21em; max-width: 37em !important; }
        .GM_config .config_header {font-size: 14pt !important; border: none !important; padding-top: 0.5em; color: #69be28; font-weight: bold; text-align: center;}
        .GM_config .section_header { border: none !important; background-color:#005293 !important; color: #8eaacd !important; text-align: center; margin-top: 1em;}
        .GM_config .field_label:hover {color: white;}
    
        /* config items can float */
        .GM_config div[id$="_section_0"] {text-align: center;}
        .GM_config .config_var {display: inline-block;}
         div[id$="enConfPagePicker_var"] {float: left;} 
        .GM_config .field_label {display: inline-block; min-width: 14em;  margin-left: 2em; }

        /* style input type Text / Textarea */
        .GM_config input, .GM_config textarea, .GM_config select:focus {border-radius: calc(2 * /*[[flat]]*/px);}
        .GM_config input[type="text"] {text-align: center; margin-left:-0.4em; border: none; box-shadow: 0 0 0 1px #5a5b62;}
        .GM_config input[type="text"]:hover, .GM_config input[type="checkbox"]:hover,
                  .GM_config textarea:hover, .GM_config select:focus {box-shadow: 0 0 0 2px #00a9e0; transition: all .2s linear; }
        .GM_config input[type="text"]:focus, .GM_config textarea:focus { box-shadow: 0 0 0 3px #00a9e0; }

        .GM_config textarea, input[id$="field_enConfBlacklist"], input[id$="field_enConfWhitelist"], input[id$="field_enConfSignature"]
                      { font-size: 0.9em; margin-left: 2em !important; margin-top: 0.1em !important; text-align: left !important; width: 90%;}
        .GM_config textarea { border-radius: 3px; margin-top: 1em !important; min-width: 25em !important; min-height: 7em !important;}
    
        #GM_config_field_saveOpt {width: 30em !important; height: 23em !important;}
        #EnPopup_field_Text {margin-left: 15% !important; text-align: center !important; min-height: 4em !important;}
  
        /* Buttons default style, force sync button */
        .GM_config button, .GM_config input[type=button] { 
                                                    border-radius: calc(2 * /*[[flat]]*/px); font-weight: bold; text-align: center; min-width:  5em;
                                                    color: #fff; background-color:  #58a618 !important; border: .5em solid #58a618 !important;}
        .GM_config button:hover {background-color: #a5d867 !important; border-color: #a5d867 !important;}
       
        /* orange for enstyler buttons*/
        .GM_config input[type=button] { background-color: /*[[colors]]*/ !important; border-color: /*[[colors]]*/ !important; min-width: 10em;}
        .GM_config input[type=button]:hover { background-color: #4dc3df !important; border-color: #4dc3df !important;}
 
       /* link apearance */
       .GM_config a:hover { text-decoration: underline; color: darkgray;}
  
  /* END feste END feste Einstellungen */

}

/* ============= CSS for Enstyler Homepage ============================= */ 
@-moz-document url(https://userstyles.org/styles/128262/), url-prefix(https://userstyles.org/styles/128262/)
{
    /* more witdh for edit */
    #iframe { width: 60em !important; }
  
  /* more heigth for text*/
  #notes_textarea { max-width: none; }
  .advancedsettings_shown { max-height: 300em; }

}
